$titleHeight: 8rem;
$gutter: 1rem; //各板块margin值
#data-view {
  width: 100vw;
  height: 100vh;
  // min-height: 973px;
  // min-width: 1920px;
  // background-color: #030409;
  // color: #fff;
  // #dv-full-screen-container {
  //   background-image: url("../img/8k_stars_milky_way.jpg");
  //   background-size: 100% 100%;
  //   box-shadow: 0 0 3px blue;
  //   display: flex;
  //   flex-direction: column;
  // }
  .top-header {
    // border: 1px solid red;
    height: $titleHeight;
    text-align: center;
  }
  .main-content {
    height: calc(100% - #{$titleHeight});
    // border: 1px solid peru;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    // common chart
    .dv-border-box-x {
      margin: $gutter;
      padding: 5px;
    }
    .side-wrapper {
      height: 100%;
      width: 20vw;
      .left-side-card,
      .right-side-card {
        // border: 1px solid salmon;
        height: calc(33.333333% - #{$gutter});
        width: calc(100% - #{$gutter});
      }
    }
    .left-side-wrapper {
      .left-side-card.left-one {
        height: calc(10% - #{$gutter});
      }
      // border: 1px solid rgb(0, 140, 255);
    }
    .right-side-wrapper {
      .right-side-card.right-one {
        height: calc(25% - #{$gutter});
      }
      .right-side-card.right-two {
        height: calc(50% - #{$gutter});
      }
      .right-side-card.right-three {
        height: calc(25% - #{$gutter});
      }
      // border: 1px solid rgb(255, 187, 0);
    }
    .center-wrapper {
      // border: 1px solid red;
      height: 100%;
      width: 60vw;
      .center-top-card {
        // border: 1px solid gold;
        height: calc(60% - #{$gutter});
        width: calc(100% - #{$gutter});
        /deep/.border-box-content {
          // datav 的内部样式
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .center-btm-card {
        // border: 1px solid hotpink;
        height: calc(40% - #{$gutter});
        width: calc(100% - #{$gutter});
      }
    }
  }
}
